.Gallery {
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 1700px;
	margin-top: 150px;
}

.Gallery p {
	color: #3634F7;
	font-size: 32px;
	font-weight: bold;
	margin: 0;
	text-align: center;
	margin-bottom: 114px;
}

.Gallery .carouselWrapper {
	position: relative;
	padding: 0 32px;
}

.Gallery div.carouselItem {
	width: 287px;
	height: 287px;
	position: relative;
	overflow: hidden;
	border-radius: 21px;
}

.Gallery div.carouselItem p {
	position: absolute;
	bottom: 21px;
	left: 20px;
	color: white;
	margin: 0;
	font-size: 17px;
	text-align: left;
	font-weight: normal;
}

.Gallery div.carouselItem p span {
	display: block;
	font-size: 21px;
	font-weight: 500;
}

.Gallery .alice-carousel__prev-btn-item,
.Gallery .alice-carousel__next-btn-item {
	position: absolute;
	width: 64px;
	height: 64px;
	background-color: white;
	border: none;
	border-radius: 64px;
	box-shadow: 0 6px 13px #5538EE42;
	top: 110px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
	cursor: pointer;
}

.Gallery .alice-carousel__prev-btn-item {
	background-image: url('../assets/icon-arrow-left.svg');
	left: -32px;
}

.Gallery .alice-carousel__next-btn-item {
	background-image: url('../assets/icon-arrow-right.svg');
	right: -32px;
}

.Gallery .alice-carousel__prev-btn-item span,
.Gallery .alice-carousel__next-btn-item span {
	display: none;
}

.Gallery .alice-carousel__dots-item {
	width: 15px;
	height: 15px;
	background-color: #CBCBCB;
}

.Gallery .alice-carousel__dots-item.__active {
	background-color: #3634F7;
}

@media screen and (max-width: 750px) {
	.Gallery {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 3px;
	}

	.Gallery p {
		font-size: 22px;
	}

	.Gallery .carrousel {
		overflow-x: auto;
		margin-top: 32px;
		padding: 0 20px;
	}

	.Gallery .carouselWrapper {
		position: relative;
		padding: 0 0 0 25px;
	}

	.Gallery div.carouselItem {
		width: 160px;
		height: 227px;
		position: relative;
		overflow: hidden;
	}

	.Gallery div.carouselItem p {
		bottom: 29px;
		left: 15px;
		font-size: 13px;
	}

	.Gallery div.carouselItem p span {
		font-size: 14px;
	}

	.Gallery .alice-carousel__prev-btn-item,
	.Gallery .alice-carousel__next-btn-item {
		display: none;
	}

	.Gallery .alice-carousel__dots-item {
		display: none;
	}
}