.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	min-height: 100vh;
}

.home header {
	color: white;
	width: 100%;
}

.home header .banner {
	background-image: url('../assets/hero-bg.jpg');
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 788px;
	text-align: left;
	color: white;
	padding-top: 250px;
	padding-left: 140px;
	width: 100%;
	box-sizing: border-box;
	z-index: 2;
	position: relative;
}

.home header .banner h2 {
	font-size: 82px;
	margin: 0;
}

.home header .banner p {
	margin-top: 28px;
	margin-bottom: 0;
	font-size: 31px;
}

.home form {
	border-radius: 100px;
	width: 50%;
	padding: 15px 60px;
	box-shadow: 8px 14px 30px #5538EE29;
	display: flex;
	align-items: center;
	background-color: white;
	gap: 40px;
	transform: translateY(-50%);
	z-index: 3;
}

.home form button {
	background: url('../assets/icon-search.svg');
	background-position: center;
	background-repeat: no-repeat;
	width: 50px;
	min-width: 50px;
	height: 50px;
	border: none;
	cursor: pointer;
}

.home form button:disabled {
	cursor: default;
	opacity: 0.25;
}

.home form input {
	font-size: 50px;
	border: none;
	width: 100%;
	padding: 10px;
	color: #8D9DA2FF;
	outline: none;
}

.home form input::placeholder {
	color: #8D9DA232;
	opacity: 1;
}

/* mensagem de erro */
.home .searchError {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	margin-bottom: 114px;
	padding: 0 157px;
}

/* galeria com zoom */
.home .zoomGallery {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 1;
	visibility: visible;
	transition: opacity .5s;
	left: 0;
	top: 0;
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.home .zoomGallery.hidden {
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transition: opacity .5s, visibility 1s step-end 1s;
}

.home .zoomGallery button.closeButton {
	cursor: pointer;
	background-color: #3633F7;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	color: white;
	border-radius: 50px;
	width: 170px;
	padding: 15px 0 11px 0;
	text-align: center;
	box-shadow: 0 3px 6px #5538EE29;
	border: none;
	transform-origin: center;
	z-index: 6;
	font-weight: bold;
	position: absolute;
	top: 10px;
	right: 10px;
}

.home .zoomGallery button.closeButton::before {
	content: url('../assets/icon-power-off.svg');
	margin-right: 15px;
}

.home .zoomGallery button.closeButton:active {
	transform: scale(0.95);
}

.home .zoomGalleryWrapper {
	padding: 25px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.home .zoomGalleryImage {
	margin: auto;
	max-width: 100%;
}

.home .zoomGalleryTextWrapper {
	margin: 0 auto;
	max-width: 1800px;
	border: 1px solid #5538EE24;
	padding: 21px 31px;
	box-shadow: 8px 5px 10px #5538EE14;
	flex: 1;
}

.home .zoomGalleryTextWrapper h2,
.home .zoomGalleryTextWrapper h3,
.home .zoomGalleryTextWrapper p {
	margin-bottom: 0;
}

.home .zoomGalleryTextWrapper h3 {
	font-size: 16px;
}

.home .zoomGalleryTextWrapper .linkWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home .zoomGalleryTextWrapper .linkWrapper p {
	margin: 0;
}

.home .zoomGalleryTextWrapper .linkWrapper a {
	text-decoration: none;
	font-weight: bold;
	color: #3634F7;
}

@media screen and (max-width: 1300px) {
	.home header .banner {
		background-position: center top;
		height: 600px;
		padding-top: 200px;
		padding-left: 100px;
	}

	.home header .banner h2 {
		font-size: 50px;
	}

	.home header .banner p {
		font-size: 24px;
	}
}

@media screen and (max-width: 750px) {
	.home header .banner {
		background-image: url('../assets/hero-bg-mobile.jpg');
		background-position: center right;
		height: 520px;
		padding-top: 135px;
		padding-left: 31px;
		z-index: 2;
	}

	.home header .banner h2 {
		font-size: 36px;
	}

	.home header .banner p {
		font-size: 16px;
	}

	.home form {
		width: 75%;
		padding: 5px 30px;
		gap: 14px;
		transform: translateY(-175px);
	}

	.home form button {
		width: 15px;
		min-width: 15px;
		height: 15px;
		background-size: 15px;
	}

	.home form input {
		font-size: 17px;
	}

	/* galeria com zoom */
	.home .zoomGalleryWrapper {
		padding: 15px;
	}

	.home .zoomGalleryWrapper .closeButtonWrapper button {
		font-size: 10px;
		width: 106px;
		padding: 9px 0;
	}

	.home .zoomGalleryWrapper .closeButtonWrapper button::before {
		margin-right: 8px;
	}

	.home .zoomGalleryTextWrapper h2 {
		font-size: 16px;
	}

	.home .zoomGalleryTextWrapper h3 {
		font-size: 12px;
	}

	.home .zoomGalleryTextWrapper p,
	.home .zoomGalleryTextWrapper .linkWrapper a {
		font-size: 12px;
	}
}

@media screen and (max-width: 370px) {
	.home header .banner {
		margin-left: 0;
	}

	.home header .banner h2 {
		font-size: 32px;
	}

	.home header .banner p {
		font-size: 14px;
	}
}

/*
queries
1200
700
370
*/