.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	min-height: 100vh;
}

.home header {
	color: white;
	width: 100%;
}

.home header .banner {
	background-image: url('../assets/hero-bg.jpg');
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 788px;
	text-align: left;
	color: white;
	padding-top: 250px;
	padding-left: 140px;
	width: 100%;
	box-sizing: border-box;
	z-index: 2;
	position: relative;
}

.home header .banner h2 {
	font-size: 82px;
	margin: 0;
}

.home header .banner p {
	margin-top: 28px;
	margin-bottom: 0;
	font-size: 31px;
}

.home form {
	border-radius: 100px;
	width: 50%;
	padding: 15px 60px;
	box-shadow: 8px 14px 30px #5538EE29;
	display: flex;
	align-items: center;
	background-color: white;
	gap: 40px;
	transform: translateY(-50%);
	z-index: 3;
}

.home form button {
	background: url('../assets/icon-search.svg');
	background-position: center;
	background-repeat: no-repeat;
	width: 50px;
	min-width: 50px;
	height: 50px;
	border: none;
	cursor: pointer;
}

.home form button:disabled {
	cursor: default;
	opacity: 0.25;
}

.home form input {
	font-size: 50px;
	border: none;
	width: 100%;
	padding: 10px;
	color: #8D9DA2FF;
	outline: none;
}

.home form input::placeholder {
	color: #8D9DA232;
	opacity: 1;
}

@media screen and (max-width: 1300px) {
	.home header .banner {
		background-position: center top;
		height: 600px;
		padding-top: 200px;
		padding-left: 100px;
	}

	.home header .banner h2 {
		font-size: 50px;
	}

	.home header .banner p {
		font-size: 24px;
	}
}

@media screen and (max-width: 750px) {
	.home header .banner {
		background-image: url('../assets/hero-bg-mobile.jpg');
		background-position: center right;
		height: 520px;
		padding-top: 135px;
		padding-left: 31px;
		z-index: 2;
	}

	.home header .banner h2 {
		font-size: 36px;
	}

	.home header .banner p {
		font-size: 16px;
	}

	.home form {
		width: 75%;
		padding: 5px 30px;
		gap: 14px;
		transform: translateY(-175px);
	}

	.home form button {
		width: 15px;
		min-width: 15px;
		height: 15px;
		background-size: 15px;
	}

	.home form input {
		font-size: 17px;
	}
}

@media screen and (max-width: 370px) {
	.home header .banner {
		margin-left: 0;
	}

	.home header .banner h2 {
		font-size: 32px;
	}

	.home header .banner p {
		font-size: 14px;
	}
}

/*
queries
1200
700
370
*/