.Home {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1920px;
	margin: auto;
	font-family: Rubik, Arial, Helvetica, sans-serif;
}

.Home form {
	border-radius: 100px;
	width: 1000px;
	padding: 30px 60px;
	box-shadow: 8px 14px 30px #5538EE29;
	display: flex;
	align-items: center;
	margin-top: -75px;
	background-color: white;
	gap: 40px;
}

.Home form button {
	background: url('https://placehold.co/50x50');
	background-position: center;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	border: none;
	cursor: pointer;
}

.Home form input {
	font-size: 50px;
	border: none;
	flex: 1;
	padding: 10px;
	color: #8D9DA2FF;
	outline: none;
}

.Home form input::placeholder {
	color: #8D9DA232;
	opacity: 1;
}