.header {
    height: 250px;
    display: flex;
    width: 100%;
    flex-direction: column;
    background: url('../imgs/about-bg.jpg');
    color : #fff;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-top: 30px;
}

.title {
   font-size: 35px;
   margin : 40px 0px 0px 35px;
   height: 130px;
}

.footer {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D842BD;
    height: 150px;
    font-size: 20px;
    color : #fff;
}


/****** RESPONSIVIDADE PARA DISPOSITIVOS MENORES ******/
@media (max-width : 700px) {
    .menu {
        margin-top: initial;
    }

   .title {
        height: auto;
        font-size: 30px;
        text-align: center;
        margin-left: 0px;
   }
}

@media (max-width : 700px) {
    .footer {
        font-size: 10px;
    }
}