.header {
	height: 422px;
	display: flex;
	width: 100%;
	flex-direction: column;
	background: url('../assets/about-bg.jpg');
	color: #fff;
	position: relative;
	z-index: 2;
}

.title {
	font-size: 82px;
	margin-top: 250px;
	margin-left: 140px;
	text-align: left;
	font-weight: bold;
}

/****** RESPONSIVIDADE PARA DISPOSITIVOS MENORES ******/
@media (max-width: 870px) {
	.title {
		font-size: 65px;
	}
}

@media (max-width : 750px) {
	.header {
		height: 206px;
	}

	.title {
		font-size: 33px;
		text-align: center;
		margin-left: 0px;
		margin-top: 109px;
	}
}