* {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}

.main {
    background-image: url('../utils/images/login-bg.jpg');
    width: 100%;
    height: 1081px;
}

.loginHeader {
    display: flex;
    width: 100%;
    height: 49px;
    justify-content: space-around;
    margin-bottom: 151px;
    gap: 50%;
    align-items: center;
    padding-top: 36px;
}

.newsFinder {
    color: #ffffff;
    font-size: 35px;
}

.dot {
    position: relative;
    top: -10px;
    right: 10px;
    border-radius: 50px;
}

.home {
    right: auto;
}

.buttonHome {
    background-color: #D842BD;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    width: 170px;
    height: 100%;
    border-radius: 25px;
    border: none;
}

.loginBox {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 608px;
    width: 30%;
    border: none;
    border-radius: 16px;
    background-color: #ffffff;
}

.intoLogin {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.userPassword {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.userPassword input {
    width: 100%;
}

.titleLoginBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 131px;
    font-size: 35px;
    color: #3634F7;
}

.formItens {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-bottom: 65px;
}

.formItens input {
    height: 31px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid gray;
}

.btnFormWrapper {
    display: flex;
    justify-content: center;
}

.buttonForm {
    width: 50%;
    height: 56px;
    border-radius: 25px;
    background-color: #3633F7;
    color: #ffffff;
    font-size: 19px;
}

/* Estilizando o placeholder*/
::-webkit-input-placeholder { /* WebKit (Chrome, Safari, etc.) */
    font-size: 17px; 
    color: #292929;
 }
 
 :-moz-placeholder { /* Firefox */
    font-size: 17px; 
    color: #292929;
 }
 
 :-ms-input-placeholder { /* Microsoft Edge */
    font-size: 17px; 
    color: #292929;
 }
 