* {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}

.main {
    background-image: url('../assets/login-bg.jpg');
    width: 100%;
    height: 1081px;
    position: relative;
    padding-top: 250px;
}

.loginBox {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 608px;
    width: 30%;
    border: none;
    border-radius: 16px;
    background-color: #ffffff;
}

.intoLogin {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.userPassword {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.userPassword input {
    width: 100%;
}

.titleLoginBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 131px;
    font-size: 35px;
    color: #3634F7;
}

.formItens {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-bottom: 65px;
}

.formItens input {
    height: 31px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid gray;
}

.btnFormWrapper {
    display: flex;
    justify-content: center;
}

.buttonForm {
    width: 50%;
    height: 56px;
    border: none;
    border-radius: 25px;
    background-color: #3633F7;
    color: #ffffff;
    font-size: 19px;
}

.errorMessage {
    color: red;
    font-family: Rubik;
    font-size: 12px;
    margin-top: 5px;
}

/* Estilizando o placeholder*/
::-webkit-input-placeholder { /* WebKit (Chrome, Safari, etc.) */
font-size: 17px; 
color: #292929;
}

:-moz-placeholder { /* Firefox */
font-size: 17px; 
color: #292929;
}

:-ms-input-placeholder { /* Microsoft Edge */
font-size: 17px; 
color: #292929;
}  

@media screen and (max-width: 1020px) {
    .loginHeader {
        height: 30px;
        margin-bottom: 155px;
        align-items: center;
        gap: 50%;
    }

    .newsFinder {
        font-size: 19px;
    }

    .buttonHome {
        font-size: 10px;
        width: 106px;
    }

    .loginBox {
        height: 460px;
        width: 80%;
        border: none;
        border-radius: 16px;
        background-color: #ffffff;
    }

    .titleLoginBox {
        margin-top: 62px;
        font-size: 35px;
    }

    .formItens {
        padding-top: 45px;
        gap: 60px;
        padding-bottom: 68px;
    }

    .buttonForm {
        width: 90%;
        height: 58px;
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .loginHeader {
        gap: 20%;
    }
}
 