.navbar {
	display: flex;
	color: white;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	z-index: 3;
	padding: 40px 18px;
	overflow: hidden;
}

.navbar h1 {
	font-size: 35px;
	margin: 0;
}

.navbar h1 a {
	text-decoration: none;
	color: white;
}

.navbar.fixed h1 a {
	color: #D842BD;
}

.navbar ul {
	display: flex;
	margin: 0;
	padding: 0;
	gap: 35px;
}

.navbar li {
	list-style: none;
}

.navbar li a {
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 17px;
	color: white;
	border-radius: 50px;
	width: 170px;
	padding: 15px 0;
	text-align: center;
	box-shadow: 0 3px 6px #5538EE29;
	transform-origin: center;
}

.navbar li a:active {
	transform: scale(0.95);
}

.navbar li a.navbarHome {
	background-color: #D842BD;
}

.navbar li a.navbarAbout {
    background-color: #3633F7;
}

.navbar li a.navbarHome {
	background-image: url('../imgs/icon-home.svg');
}

.navbar li a.navbarAbout {
	background-image: url('../imgs/icon-info-circle.svg');
}

.navbar li a.navbarHome,
.navbar li a.navbarAbout {
	background-color: #D842BD;
}

.navbar li a.navbarHome::before {
	content: url('../assets/icon-home.svg');
}

.navbar li a.navbarAbout::before {
	content: url('../assets/icon-info-circle.svg');
}


@media screen and (max-width: 750px) {
	.navbar {
		padding: 37px 16px;
	}

	.navbar h1 {
		font-size: 19px;
	}

	.navbar ul {
		gap: 9px;
	}

	.navbar li a {
		font-size: 10px;
		font-weight: bold;
		width: 106px;
		padding: 9px 0 9px 9px;
		text-align: center;
		box-shadow: 0 3px 6px #5538EE29;
		background-position: 25px center;
		background-size: 9px;
		padding: 9px 0;
		text-align: center;
		box-shadow: 0 3px 6px #5538EE29;
	}
}

@media screen and (max-width: 370px) {
	.navbar li a {
		width: 90px;
		background-position: 18px center;
    }
}


