.navbar {
	display: flex;
	color: white;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	box-sizing: border-box;
	z-index: 3;
	padding: 40px 64px;
	overflow: hidden;
}

.navbar.fixed {
	position: fixed;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(15px);
}

.navbar h1 {
	font-size: 35px;
	margin: 0;
}

.navbar h1 a {
	text-decoration: none;
	color: white;
}

.navbar.fixed h1 a {
	color: #D842BD;
}

.navbar ul {
	display: flex;
	margin: 0;
	padding: 0;
	gap: 35px;
}

.navbar li {
	list-style: none;
}

.navbar li a {
	display: flex;
	align-items: center;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 17px;
	color: white;
	border-radius: 50px;
	width: 170px;
	padding: 15px 0 15px 15px;
	text-align: center;
	box-shadow: 0 3px 6px #5538EE29;
	transform-origin: center;
	box-sizing: border-box;
	background-position: 40px center;
	background-repeat: no-repeat;
	background-size: 15px;
}

.navbar li a:active {
	transform: scale(0.95);
}

.navbar li a.navbarHome,
.navbar li a.navbarAbout {
	background-color: #D842BD;
}

.navbar li a.navbarLogin,
.navbar li a.navbarSearch,
.navbar li a.navbarExit {
	background-color: #3633F7;
}

.navbar li a.navbarHome {
	background-image: url('../assets/icon-home.svg');
}

.navbar li a.navbarAbout {
	background-image: url('../assets/icon-info-circle.svg');
}

.navbar li a.navbarLogin {
	background-image: url('../assets/icon-user-alt.svg');
}

.navbar li a.navbarSearch {
	background-image: url('../assets/icon-info-search.svg');
	background-position: 35px center;
}

.navbar li a.navbarExit {
	background-image: url('../assets/icon-power-off.svg');
}

@media screen and (max-width: 750px) {
	.navbar {
		padding: 37px 16px;
	}

	.navbar h1 {
		font-size: 19px;
	}

	.navbar ul {
		gap: 9px;
	}

	.navbar li a {
		font-size: 10px;
		font-weight: bold;
		width: 106px;
		padding: 9px 0 9px 9px;
		text-align: center;
		box-shadow: 0 3px 6px #5538EE29;
		background-position: 25px center;
		background-size: 9px;
	}

	.navbar li a.navbarSearch {
		background-position: 20px center;
	}
}

@media screen and (max-width: 370px) {
	.navbar li a {
		width: 90px;
		background-position: 18px center;
	}
}