.main {
    background-image: url('../utils/images/login-bg.jpg');
    width: 100%;
    height: 1081px;
}

.navbar {
    display: flex;
    width: 100%;
    height: 49px;
    padding-top: 36px;
    margin-bottom: 65px;
}

.titleNews {
    width: 50%;
    margin-left: 8%;
}

.btnHeader {
    gap: 35px;
    display: flex;
    width: 50%;
    justify-content: flex-end;
    height: 100%;
    margin-right: 7%;
}

.buttonSair {
    background-color: #3633F7;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    width: 170px;
    height: 100%;
    border-radius: 25px;
    border: none;
}

.buttonSair a {
    text-decoration: none;
    color: #ffffff;
}

.titleBuscas {
    margin-left: 8%;
    margin-bottom: 40px;
    font-family: Rubik;
    font-size: 40px;
    color: #ffffff;
}

.tableBuscas {
    margin-left: 8%;
    width: 85%;
    height: 760px;
    background-color: #ffffff;
    border-radius: 14px;
    border: none;
}

.tableHeader {
    background: #F1F1F1;
    color: #3633F7;
    height: 106px;
    text-align: left;
    font-size: 25px;
}

.nameBuscas {
    padding-left: 50px;
}

.tableBody {
    font-size: 24px;
}

.tableBuscas tbody tr td {
    border-bottom: 1px solid #ccc; /* Adiciona uma borda inferior cinza */
}

.tableBuscas tbody tr:last-child td {
    border-bottom: none;
}

.colBuscas {
    color: #292929;
    width: 70%;
    padding-left: 50px;
}

.colDate, .colTime {
    color: #D842BD;
}

@media screen and (max-width: 1020px) {
    .main {
        width: 100%;
        height: 1016px;
    }
    
    .titleNews {
        width: 50%;
        margin-left: 1%;
    }

    .btnHeader {
        gap: 14px;
        margin-right: 2%;
    }

    .buttonSair {
        font-size: 10px;
        width: 106px;
    }

    .newsFinder {
        padding-left: 16px;
    }

    .titleBuscas {
        font-size: 33px;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-left: 0px;
    }

    .tableBuscas {
        width: 95%;
        height: 751px;
        background-color: #ffffff;
        border-radius: 14px;
        border: none;
        margin: auto;
    }

    .colBuscas {
        width: 70%;
        padding-left: 10px;
    }

    .nameBuscas {
        padding-left: 10px;
    }
}